.d-answer {
  display: flex;
  flex-direction: column;
  border: 1px solid #acacac;
  border-radius: 8px;
  padding: 1rem;
  margin: .2rem 0;
}

.d-info {
  flex-grow: 1;
}

.d-display-action {
  display: flex;
  flex-direction: row;
  align-items: center;
}