<page-header></page-header>
<div>
  <div class="container flex-column">
    <div class="back">
      <app-back></app-back>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <div [ngSwitch]="detail.state.key">
        <button mat-stroked-button color="primary" *ngSwitchCase="0" (click)="enabled()">启用</button>
        <ng-container *ngSwitchCase="1">
          <mat-form-field>
            <input type="text" matInput placeholder="请输入禁用/退回理由" #txt_reason>
          </mat-form-field>
          <button mat-stroked-button color="warn" (click)="disabled(txt_reason.value)">禁用</button>
        </ng-container>
      </div>
    </div>
    <div class="d-title">
      <div class="d-title-detail">
        <h2>
          提问详情
        </h2>
        <div class="mat-h2">{{detail.title}}</div>
        <p>
          赞同数：{{detail.votes}} &nbsp;&nbsp;&nbsp;&nbsp;
          浏览数：{{detail.views}} &nbsp;&nbsp;&nbsp;&nbsp;
          提问日期：{{detail.createDate}} &nbsp;&nbsp;&nbsp;&nbsp;
          {{detail.state.value}}
        </p>
        <p>
          <span class="spn-tag" *ngFor="let tag of detail.tags">
            {{tag}}
          </span>
        </p>
      </div>
      <div class="d-title-user">
        提问人：
        <img src="{{detail.user.avatar}}" alt="logo" height="27" width="27">
        {{detail.user.account}}
      </div>
    </div>
    <small>提问描述：</small>
    <markdown [data]="detail.description"></markdown>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{detail.comments.length}}条追问
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="comment-box" *ngFor="let comment of detail.comments">
          <div class="comment-description">{{comment.value}}</div>
          <div class="comment-actions">
            <button mat-button color="warn" (click)="deleteComment(comment.key)">删除</button>
          </div>
        </div>

      </mat-expansion-panel>
    </mat-accordion>

    <div *ngFor="let answer of detail.page.list">
      <app-answers-item [answer]="answer"></app-answers-item>
    </div>
    <mat-paginator showFirstLastButtons [pageSize]="detail.page.size" [length]="detail.page.totalRows"
      (page)="pageChange($event)"></mat-paginator>
  </div>
</div>
