<page-header></page-header>
<div>
  <div class="container flex-column">
    <div class="back">
      <app-back></app-back>
      &nbsp;&nbsp;
      <div [ngSwitch]="detail.state.key">
        <button mat-stroked-button color="primary" *ngSwitchCase="0" (click)="enabled()">启用</button>
        <button mat-stroked-button color="warn" *ngSwitchCase="1" (click)="disabled()">禁用</button>
      </div>
    </div>
    <div class="d-title">
      <div class="d-title-detail">
        <h2>
          提问详情
        </h2>
        <div class="mat-h2">{{detail.title}}</div>
        <p>
          赞同数：{{detail.votes}} &nbsp;&nbsp;&nbsp;&nbsp;
          浏览数：{{detail.views}} &nbsp;&nbsp;&nbsp;&nbsp;
          提问日期：{{detail.createDate}} &nbsp;&nbsp;&nbsp;&nbsp;
          {{detail.state.value}}
        </p>
        <p>
          <span class="spn-tag" *ngFor="let tag of detail.tags">
            {{tag}}
          </span>
        </p>
      </div>
      <div class="d-title-user">
        提问人：
        <img src="{{detail.user.avatar}}" alt="logo" height="27" width="27">
        {{detail.user.account}}
      </div>
    </div>
    <mat-form-field>
      <mat-label>问题描述</mat-label>
      <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="2">
        {{detail.description}}
      </textarea>
    </mat-form-field>
      <div *ngFor="let answer of detail.page.list">
        <app-answers-item [answer]="answer"></app-answers-item>
      </div>
    <mat-paginator showFirstLastButtons [pageSize]="detail.page.size" [length]="detail.page.totalRows"
      (page)="pageChange($event)"></mat-paginator>
  </div>
</div>
